<template lang="html">
  <v-app id="inspire">
    <v-content>
      <v-container fluid fill-height>
        <v-layout align-center justify-center>
          <v-flex xs12 sm8 md4>
            <v-card class="elevation-12">
              <v-toolbar card prominent>
                <v-toolbar-title>Login</v-toolbar-title>
              </v-toolbar>
              <v-card-text>
                <v-form>
                  <v-text-field v-model="username" prepend-icon="person" name="login" label="Login" type="text"></v-text-field>
                  <v-text-field v-model="password" id="password" prepend-icon="lock" name="password" label="Password" type="password"></v-text-field>
                </v-form>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color="primary" @click="onLogin">Login</v-btn>
              </v-card-actions>
            </v-card>
          </v-flex>
        </v-layout>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>

export default {
  name : 'login',
  data: () => ({
    username:'',
    password:''   
  }),
  methods: {
    /**
     * Function which triggered https request which used to 
     * login users.
     */
    onLogin() {
      this.$store.dispatch('login', {username:this.username, password:this.password});
      this.$router.push('/spiner');
    },

    /**
     * Function called when login gets successfully.
     * @param {Object} res res The response get from the server.
     */
    loginSuccessful(res) {
      let data = res.data;
      if(!data.token) {
        this.loginFailed(res)
        return;
      }
      this.$store.dispatch('login', data.token)
      this.$router.push('/webapp')
    },

    /**
     * Function called when login gets failed.
     * @param {Object} e The exception handling.
     */
    loginFailed(e) {
      let data = e.data;
      this.$store.dispatch('logout', data);
    }
  }
}
</script>

<style lang="css">
</style>
