<template lang="html">
<v-app>
 <v-toolbar 
    app 
    :clipped-left="$vuetify.breakpoint.lgAndUp"
    color="blue darken-3"
    dark
    fixed
    >
    <v-toolbar-title style="width: 250px" class="ml-0 pl-3">
      <span class="hidden-sm-and-down">Alpha</span>
    </v-toolbar-title>
    <v-text-field
      flat
      solo-inverted
      prepend-icon="search"
      label="Search"
      class="hidden-sm-and-down"
    ></v-text-field>
    <v-spacer></v-spacer>
    <v-btn icon large>
        <v-avatar size="32px" >
          <img
            src="https://randomuser.me/api/portraits/men/85.jpg"
            alt="Vuetify"
          >
        </v-avatar>
    </v-btn>
  </v-toolbar>
  </v-app>
</template>

<script>
export default {
}
</script>

<style lang="css">
</style>
