<template lang="html">
  <v-app>
    <v-navigation-drawer
    :mini-variant="miniVariant"
    :clipped="$vuetify.breakpoint.lgAndUp"
    v-model="drawer"
    enable-resize-watcher
    fixed
    color="blue darken-3"
    width=250
    app>

    <v-list >
      <v-list-tile avatar tag="div">
        <v-list-tile-avatar>
          <img src="https://randomuser.me/api/portraits/men/85.jpg" >
        </v-list-tile-avatar>
        <v-list-tile-content>
          <v-list-tile-title>John Leider</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider></v-divider>
    </v-list>
    <v-bottom-nav
      :value="true"
      absolute
      inset="true"
      shift
    >
      <v-btn  @click.stop="miniVariant = !miniVariant">
        <span>Image</span>
        <v-icon>chevron_left</v-icon>
      </v-btn>
    </v-bottom-nav>
  </v-navigation-drawer>
  </v-app>
</template>

<script>
export default {
  name : 'NavigationDrawer',
  data: () => ({
    miniVariant: false,
    drawer: true
  })
}
</script>

<style lang="css">
</style>
