<template lang="html">
<v-app> 
  <v-content >
    <v-container fluid>
      <router-view/>
    </v-container>
  </v-content>
  <MainToolbar/>
  <NavigationDrawer/>
</v-app>
</template>

<script>
import MainToolbar from './MainToolbar'
import NavigationDrawer from './NavigationDrawer'

export default {
  components : {
    MainToolbar, 
    NavigationDrawer
  },
  data () {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [{
        icon: 'bubble_chart',
        title: 'Inspire'
      }],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    }
  },
  name :'WebApp'
}
</script>

<style lang="css">
  .content--wrap{
    height: 615px;
    overflow-y: scroll;
  }
</style>
