<template>
  <v-app id="App">
    <router-view/>
  </v-app>
</template>

<script>
export default {
  name: 'App'
}
</script>
<style lang="css">
  html{
    overflow-y: hidden !important;
  }
</style>
