<template>
     <div>
        <v-progress-circular
            :size="100"
            :width="15"
            :rotate="360"
            :value="value"
            color="teal">
            {{ value }}
        </v-progress-circular>
     </div>
</template>

<script>
export default{
    name : 'Spiner',
    data () {
      return {
        interval: {},
        value: 0
      }
    },
    beforeDestroy () {
      clearInterval(this.interval)
    },
    mounted () {
      this.interval = setInterval(() => {
        if (this.value === 100) {
          this.$router.push('/webapp');
        }
        this.value += 10
      }, 1000)
    }
}
</script>
<style lang="css" scoped>
    div{
      text-align: center
    }
    .progress-circular{
        margin: 1rem
    }
</style>